.header-client{
  min-height: 60px;
  background:white;
  position: relative;
  /* for z-index work we must add position:realtive prop */
  z-index: 999;
  background: linear-gradient(to right, #cb60b3 0%,#ad1283 0%,#f94f69 100%); 

}

.header-client .container , .header-client .row{
  min-height: inherit;
}

.header-client .logo a{
  color:white;
  text-decoration: none;
}

.header-client nav  a{  
  color:rgb(75, 75, 75);
  color:white;
  padding:0 12px;
  text-decoration: none;
}

.header-client nav  a:hover{
  color:purple;
  text-decoration: underline;
}

.header-client nav .search_header .btn{
  /* border:1px solid silver; */
  padding-bottom: 10px;
}

.header-client .icon1{
  color:rgb(75, 75, 75);
}


.footer-client{
  display: flex;
  align-items: center;
  min-height: 48px;
}
.log_in_out{
color: white;
}
/* .log_in_out :hover{
  background:  #f94fa4a6;
  border-bottom: 50px;
} */

